<script>
  import { fade } from "svelte/transition";
  import { amount, showPressMore } from "../store";
  import { isSunflower } from "../helpers";
</script>

<div class="amount">
  {#if $amount}
    <span class="money" in:fade|local>{Math.ceil($amount)}₽</span>
  {/if}
  {#if $showPressMore}
    <div class="wrapper" transition:fade|local>
      <div class="holdPress" class:isSunflower>Удерживайте кнопку</div>
    </div>
  {/if}
</div>

<style>
  .holdPress {
    text-align: center;
    white-space: nowrap;

    transform: translateY(5px);
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .isSunflower {
    transform: translateY(35px);
  }
  .amount {
    min-height: 92px;
    
    display: inline-block;

    color: #f6b442;
    text-align: center;
    /* margin-bottom: 20px 16px 16px 16px; */
  }
  .money {
    letter-spacing: 0.15em;
    font-size: 54px;
  }
 
</style>
