<script>
  export let type = "primary";
</script>

<button on:click class={type}>
  <slot />
</button>

<style>
  button {
    width: 100%;
    border: none;
    background: none;
    border-radius: 13px;

    font-size: 12px;
    padding: 8px 16px;
    text-transform: uppercase;
  }
  .primary {
    background: linear-gradient(
        8.75deg,
        #000000 39.01%,
        rgba(0, 0, 0, 0) 76.23%
      ),
      #fdd32a;
    background-blend-mode: soft-light, normal;
    box-shadow: 0px 10px 20px rgba(246, 180, 66, 0.27);
    color: white;
  }
  .secondary {
    border: 1px solid #f6b442;
    color: #f6b442;
  }
</style>
