<script>
  import leafImages from "../assets/leafs";

  export let scale;
  export let i = 0;
  export let animated = true;
  export let leafCount = 26;
  const zIndex = i % 3;
  $: leafType = zIndex === 0 ? "dark" : "light";
  $: leafSrc =
    leafImages[leafType][
      Math.floor(Math.random() * leafImages[leafType].length)
    ];
  const animationDelay = Math.random() * 1.5;

  $: rotate = (360 * i) / leafCount;
</script>

<div class="center" style={`z-index:${zIndex};`}>

  <div style={`transform: rotate(${rotate}deg) translateY(-120px)`}>
    <div
      style={`transform: scale(${$scale > 0.5 ? $scale : 1 - $scale}, ${$scale})`}
      class="leaf">
      <img
        class:leafAnimated={animated}
        style={`animation-delay: ${animationDelay}s`}
        src={leafSrc}
        alt="leaf" />
    </div>
  </div>
</div>

<style>
  .leafAnimated {
    animation: vibrate-1 3.5s linear infinite both;
  }
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .leaf {
    transform-origin: 0% 90%;
  }
  @keyframes vibrate-1 {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, 2px);
    }
    80% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0);
    }
  }
</style>
