<script>
  import Button from "./Button.svelte";
  import { payByCard, sendMetrik } from "../helpers";

  export let amount = 0;
  export let togglePayment;
  $: roundedAmount = Math.floor(amount);
  const isIos =
    /iPad|iPhone|iPod|Mac/.test(navigator.userAgent) && !window.MSStream;
  const pay = () => payByCard(roundedAmount, togglePayment);
  const back = () => {
    sendMetrik("PaymentBack");
    togglePayment();
  };
</script>

<div class="payment">
  <div class="title">Выберите способ оплаты</div>
  <div class="spacer" />
  <a
    href={`sms:3443${isIos ? '&' : '?'}body=подсолнух ${roundedAmount}`}
    class="smsLink">
    <Button on:click={() => sendMetrik('PaymentSMS')}>СМС на номер 3443</Button>
  </a>
  <div class="spacer" />
  <Button on:click={pay}>Банковская карта</Button>
  <div class="spacer" />
  <Button on:click={back} type="secondary">Назад</Button>

</div>

<style>
  .smsLink {
    border-bottom: none !important;
  }
  .spacer {
    height: 16px;
  }
  .title {
    text-align: center;
    font-size: 18px;
  }
  .payment {
    width: 100%;
    height: 300px;
    position: absolute;
    padding: 32px;
    box-sizing: border-box;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
</style>
