<script>
  import { tweened } from "svelte/motion";
  import { cubicOut, sineOut } from "svelte/easing";
  import { get } from "svelte/store";
  import { fade } from "svelte/transition";
  import PressButton from "../assets/PressButton.svelte";

  import Leaft from "./Leaf.svelte";
  import centerImage from "../assets/centerImage";
  import { sendMetrik, playSound, payBySms, payByCard } from "../helpers";
  import {
    amount,
    minimalAmount,
    intervalId,
    showPressMore,
    buttonStart,
    buttonEnd,
    isMobile
  } from "../store";
  console.log(minimalAmount)
  const leafCount = 26;

  let leafs = new Array(leafCount).fill(
    tweened(1, {
      duration: 0,
      easing: cubicOut
    })
  );

  const setLeafs = (value, duration, easing = cubicOut) =>
    leafs.forEach(item => item.set(value, { duration, easing }));

  $: if ($amount === 0) setLeafs(1, 3000);

  const start = () => {
    buttonStart();
    if ($amount === 0) setLeafs(0, 0);
    setTimeout(() => setLeafs(1, 30000), 0);
  };
  const end = () => {
    buttonEnd();
    leafs.forEach(item =>
      leafs.forEach(item =>
        item.set(get(item), {
          duration: 0
        })
      )
    );

    if ($amount >= minimalAmount && !isMobile) {
      setLeafs(1, 3000, sineOut);
    }
  };
  window.addEventListener("scroll", function() {
    if ($intervalId) end();
  });
</script>

<div class="sunflower">
  <div />
  {#each leafs as scale, i}
    <Leaft {scale} {i} {leafCount} />
  {/each}

  <button
    on:contextmenu={e => {
      e.preventDefault();
      e.stopPropagation();
    }}
    on:pointerdown={start}
    on:pointerup={end}
    on:pointerleave={end}
    class="button center">
    <div class="center">
      <img
        draggable={false}
        src={centerImage}
        alt="sunflower"
        class="centerImage"
        class:centerImageAnimated={$amount && $intervalId} />
    </div>
    {#if !$intervalId}
      <div class="center main" transition:fade|local>
        <PressButton />
      </div>
    {/if}
  </button>

</div>
<div class="spacer" />

<style>
  button:not(:disabled):active {
    background: transparent;
  }
  .sunflower {
    height: 300px;
    position: relative;
    /* transform-origin: 50% 50%; */
  }
  @media (min-width: 500px) {
    .sunflower {
      transform: translateY(50px) scale(1.2);
    }
    .spacer {
      height: 70px;
    }
  }
  @media (min-width: 600px) {
    .sunflower {
      transform: translateY(70px) scale(1.4);
    }
    .spacer {
      height: 130px;
    }
  }

  .button {
    user-select: none;
    background: transparent;
    border: none;
    outline: none;
    display: block;
    z-index: 5;
  }
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .centerImage {
    transform: scale(1.1);
  }
  .centerImageAnimated {
    animation: pulsate-bck 2s ease-in-out infinite both;
  }
  @keyframes pulsate-bck {
    0% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1.1);
    }
  }
</style>
