<script>
  import { onMount } from "svelte";
  import Credentials from "./components/Credentials.svelte";
  import PulseButton from "./components/PulseButton.svelte";
  import Payment from "./components/Payment.svelte";
  import Amount from "./components/Amount.svelte";
  import AudioFiles from "./components/AudioFiles.svelte";
  import HeadFiles from "./components/HeadFiles.svelte";
  import "./helpers/points";
  import { sayHelloIfVisible, playSound } from "./helpers";
  import { amount } from "./store";

  let appRef = null;
  let y = 0;
  $: {
    if (appRef) sayHelloIfVisible(appRef, y);
  }
  const handleVisibilityChange = () => {
    $amount = 0;
  };
  window.addEventListener("blur", handleVisibilityChange, false);
  document.body.addEventListener("click", ()=>{
    if($amount === 0) {
      console.log('unlock')
      playSound(null)
    }
  }, false);
</script>

<div class="sunflowerApp" bind:this={appRef}>

  <Amount />

  <PulseButton />

  <AudioFiles />
</div>
<Credentials />
<svelte:window bind:scrollY={y} />
<HeadFiles />

<style>
  .sunflowerApp {
    max-width: 300px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "corsica", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    color: #f6b442;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }
  @media (min-width: 500px) {
    .sunflowerApp {
      max-width: 500px;
    }
  }
  @media (min-width: 600px) {
    .sunflowerApp {
      max-width: 600px;
    }
  }
</style>
